$on-consideration: #9a9a9a;
$pending: #dc6263;
$waiting-by-customer: #dc6263;
$waiting: #dc6263;
$viewed: #ffcd50;
$viewed-by-customer: #ffcd50;
$on-process: #028dd8;
$on-delivery: #cc5ad6;
$completed: #a3bd49;
$rejected: #9a9a9a;
$rejected-by-customer: #9a9a9a;
$spam: #ffffff;
$expired: #dc6263;
$archived: #ffffff;
