@import './mixins/icons';

.dashboard-modal {
  border: 1px solid #ddd; box-shadow: 3px 3px 7px 0 #ddd; width: 500px; position: absolute; background: #fff; padding: 30px; outline: none; top: 50%; left: 50%; transform: translate(-50%, -50%);
  &-overlay { z-index: 100000; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255, 255, 255, .74902); overflow: auto;}
  &-title { font-size: 24px; font-weight: normal; line-height: 1.2; text-align: center; color: #333; margin-bottom: 20px; text-transform: uppercase; }
  &-footer { text-align: center; }
  &-button { margin-right: 20px; box-sizing: content-box; }
  &-close {
    @include cancel-icon(#ccc); border: 0; position: absolute; top: 10px; right: 10px; height: 18px; width: 18px; cursor: pointer;
    &:hover { @include cancel-icon(#333); }
  }
}

.dashboard-control-box {
  margin-bottom: 20px;
  &-label-box { margin-bottom: 15px; }
  &-label { font-size: 14px; }
  &-counter-helper { text-align: right; font-size: 11px; color: #999; margin-top: 5px; }
  &-error { font-size: 12px; margin-top: -16px; line-height: 1.2; margin-right: 40px; }
  &.is-error {
    color: #dc6263;
    & .text-field,
    & .text-area { border-color: #dc6263; }
  }
}

.do-ps-link {
  color: #028dd8; border-bottom: 1px dotted; text-decoration: none; cursor: pointer;
  &:hover { color: #00a6ff; }
}

.rc-dropdown {
  position: absolute; left: -9999px; top: -9999px; z-index: 5070; display: block; font-family: 'OpenSans'; font-size: 12px; font-weight: normal; line-height: 1.5;
  &-hidden { display: none; }
}

.e-select-drop-down { z-index: 5545; }
