.do-drop-out-box {
  box-sizing: border-box; position: relative; margin: 10px 0 0 -155px; box-shadow: 0 0 9px 0 rgba(59, 61, 77, 0.52); background: white; font-family: 'OpenSans'; color: #1f2532; padding: 30px;
  & * { box-sizing: border-box; }
  &:after { content: ''; position: absolute; top: -6px; left: 172px; width: 0; height: 0; border-style: solid; border-width: 0 6px 6px; border-color: transparent transparent #fff; }
  &:before { content: ''; position: absolute; top: -9px; left: 170px; width: 0; height: 0; border-style: solid; border-width: 0 8px 8px; border-color: transparent transparent rgb(221, 221, 224); }
  &.is-schedule {
    width: 410px;
    &:after { left: 352px; }
    &:before { left: 350px; }
  }
  &.is-message-templates { padding: 0; margin-left: -100px; width: 410px; }

  .rc-dropdown-placement-topLeft & {
    margin-top: 0px;
    &:after { top: 100%; transform: rotate(180deg); }
    &:before { top: 100%; transform: rotate(180deg); }
  }
}
